<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index Page</title>
    </head>
    <body>
        <h1>All the bikes: </h1>
        <ul>
            <% bikes.forEach( function(bike, i) { %>
            <li><a href="/bikes/<%= bike._id %>"><%= bike.model %>, <%= bike.brand %></a> <a id="delete" href="/bikes/<%= bike._id %>">Delete</a></li>
            <% }) %>
        </ul>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>