<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Show Page</title>
    </head>
    <body>
        <h1>One of the bikes: </h1>
            <h3> <%= bike.brand %> <%= bike.model %></h3>        
    </body>
</html>